@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
@import 'bootstrap/dist/css/bootstrap.min.css';



@font-face {
	font-family: BNAZANIN;
	font-style: normal;
	font-weight: bold;
	src: url('/BNazanin/BNazanin.ttf');
	src: url('/BNazanin/BNazanin.ttf') format('embedded-opentype'),  /* IE6-8 */ 
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

#root {
  /* height: 100vh; */
  /* overflow: auto; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff !important;
  font-family: "IRANSans" !important;


}
body {
  font-family: "IRANSans" !important;
  /*background-image: url("../..//asset/img/background.png");*/
  /* background-color: #eaeaea; */
  background-color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
  direction: rtl !important;
}
.issue-card-body{
  padding: 12px 16px;
  border-radius: 16px;
}
.inquiry-title{
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  margin: 0px;
}
.license-input{
  border-radius: 11px;
  padding: 8px 20px;
  font-size: 12px;
}
.button-pill{
  display: inline-block;
  font-size: 0.700rem !important;
  width: 100%;
}
.licenseIssueButtons {
  background-color: #ede6b8;
  border: 1px solid #ede6b8;
  border-radius: 25px;
  height: 50px;
  margin: 5px 15px 5px 15px;
  width: 300px;
  color: #2e343e;
  font-weight: bold;
  line-height: 35px;
}
.login-button{
  background-color: #dddcdc;
  color: #000;
  border: none;
  padding: 40px 0px;
  display: inline-block;
  font-size: 16px!important;
  width: 40%;
  border-radius: 10px;
  font-weight: 600;
}
.back-btn{
  background-color: #dddcdc;
  color: #000;
  border: none;
  padding: 40px 0px;
  display: inline-block;
  font-size: 16px!important;
  width: 20%;
  border-radius: 10px;
  font-weight: 600;
}
.btn-login{
  background-color: #dddcdc;
  color: #000;
  border: none;
  padding: 40px 0px;
  display: inline-block;
  font-size: 16px!important;
  width: 100%;
  font-weight: 600;
}
.sendcodeBtn{
  background-color: #ac2323;
  color: #ffffff;
  border: none;
  padding: 40px 0px;
  /* display: inline-block; */
  font-size: 16px!important;
  width: 100%;
  font-weight: 600;
}
.sendcodeBtn:hover{
  background-color: #cf3131;
}
.btn-login-back{
  background-color: #e6316d;
  color: #d6d6d6;
  border: none;
  padding: 40px 0px;
  display: inline-block;
  font-size: 16px!important;
  width: 100%;
  font-weight: 600;
}
.btn-login-back:hover{
  background-color: #cf3d6e;

}

.btn-login:hover , .btn-login:active , .btn-login:focus , .btn-login:visited{
  background-color: #b9b9b9;
  color: #000;
  border: none;
  display: inline-block;
  font-size: 16px!important;
  width: 100%;
  font-weight: 600;
}
.custom-size {
  width: 250px;
  height: 200px;
  margin-top: 20px;
}

.custom-select-city .ant-select-selector {
  background-color: #ffffff !important; 
  /* background-color: #ebebee !important;  */
    border-radius: 8px; /* Adjust as needed */
    color: #aeaeaf !important;
    font-family: "IRANSans" !important;

}

.login-button:hover{
  background-color: #888888;
  color: #000;
}
.smsButton {
  color: white;
  text-decoration: none;
  background: #ac2323;
  border: #991414;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  width: 110px;
  margin-top: 10px;
}

.smsButton:hover{
  /* background: #5e5d5d;
  border: #5e5d5d; */
  background: #d64444;

}
.primaryButton {
  color: white;
  text-decoration: none;
  background: #ac2323;
  border: #991414;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  width: 140px;
  margin-top: 10px;
}
.primaryButton:hover{
  background: #d64444;

}
.leaflet-container .leaflet-control-attribution{
  display: none !important;
}
.muirtl-999rio-MuiDrawer-docked .MuiDrawer-paper{
  width: 250px !important;
}
/* .muirtl-999rio-MuiDrawer-docked{
  display: none !important;
} */
/* .muirtl-181ggw6{
  display: none !important;
} */
.filter-color{
  color: #ac2323 !important;
}
.positive-color{
  color: #198754 !important;
}
.nodiff-color{
  color: rgba(13,110,253);
}

.css-1aquho2-MuiTabs-indicator{
  background-color: #ac2323 !important;

}
.filterBtn{
  background-color: #ac2323;
  border: #ac2323;
}
.filterBtn:hover{
  background-color: #cc4d4d;
  border: #ac2323;
}
.backprimaryButton {
  color: white;
  text-decoration: none;
  background: #ac2323;
  border: #991414;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  /* border-radius: 4px; */
  font-size: 14px;
  width: 200px;
  /* margin-top: 10px; */
}
.backprimaryButton:hover{
  background: #d64444;

}
.ant-steps .ant-steps-item-process .ant-steps-item-icon{
  background-color: #ac2323 !important;
  border: #ac2323 !important;
}
.custom-slider .ant-slider-track{
  background-color: #ac2323 !important;

}
.ant-slider .ant-slider-track{
  background-color: #ac2323 !important;

}
.custom-slider .ant-slider-track::after{
  background-color: #ac2323 !important;
  border: #ac2323 !important;
}
.custom-slider .ant-slider-handle{
  background-color: #ac2323 !important;
  border: #ac2323 !important;
}
.ant-slider .ant-slider-handle::after{
  background-color: #ac2323 !important;
  border: #ac2323 !important;

}


.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
  background: #d64444 !important;
  color: #ffffff !important;
}

.custom-checkbox {
  position: relative;
}



/* Tooltip.css */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  transform: translateX(-50%);
  pointer-events: none;
}
.card-bookmark {
  border: 1px solid #ddd;
  /* padding: 16px; */
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-bookmark:hover {
  transform: scale(1.03); /* Slightly enlarge the card */
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5); /* Darker shadow */
  cursor: pointer;
}
.home-card:hover{
  transform: scale(1.03); /* Slightly enlarge the card */
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5); /* Darker shadow */
  cursor: pointer;
}
.custom-slider .ant-slider-handle {
  border: 2px solid #1890ff; /* Customize the handle border color */
  background-color: #1890ff; /* Customize the handle background color */
}
.ant-tooltip {
  background-color: #ff5722 !important; /* Change to your desired color */
  color: #ffffff; /* Optional: change text color */
  border-radius: 4px; /* Optional: adjust border radius */
  font-size: 14px; /* Optional: adjust font size */
}
.custom-slider .ant-slider-track {
  background-color: #1890ff; /* Customize the track color */
}
.bg-refresh {
  width: 30px;
  height: 30px;
  background: url("../../../public/logo-sprite.png") -10px -98px;
}
.pointer-cursor {
  cursor: pointer;
}
.nav-logo-2 {
  max-width: 100px;
  height: 68px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.main-head{

  position: sticky;
    top: 0;
    /* left: 0; */
    width: 100%;
    z-index: 1001; 
  
}

.ant-menu-dark .ant-menu-item.ant-menu-item-selected {
  color: rgb(205, 50, 50); 
  border: 2px solid #bdbbbb; 
  border-radius: 4px;
  background-color: rgba(89, 20, 153, 0.1) !important; 
}
.sort-item{
  cursor: pointer !important;
  font-size: 16px !important;
}
.sort-item-active{
  color: #9e3b3b;
  border-bottom: 1px solid #9e3b3b;
  font-weight: bold;
}
.sort-background{
  /* background-color: #e0e0e2; */
  /* e0e0e2
      rgb(185, 183, 183) */
  background-color: #ffffff;
  /* background-color: #9e3b3b; */
  color: #888484;
  /* color: #ffffff; */
  padding: 10px;
  border-radius: 10px;
}


/* Optional: To ensure hover looks good too */
.ant-menu-dark .ant-menu-item.ant-menu-item-selected:hover {
  background-color: rgba(153, 20, 20, 0.2); /* Darker background on hover */
}


.ant-menu {
  background-color: #e0e0e2 !important;
  color:#001529 !important;
}
.ant-menu-dark .ant-menu-item{
  color:#001529 !important;
  background-color: #e0e0e2 !important;
}
.ant-menu-dark .ant-menu-item:hover{
  color:#001529;
  background-color: rgb(185, 183, 183) !important; 
}
.ant-menu-item, .ant-menu-submenu-title {
  color:#001529 !important;
  background-color: #e0e0e2 !important;
}

input[type="search"]::placeholder {
  color: #aeaeaf !important;
}
.muirtl-pdct74-MuiTablePagination-selectLabel{
  margin-top: 10px !important;
}
.muirtl-levciy-MuiTablePagination-displayedRows{
  margin-top: 10px !important;

}
.ant-layout-header{
  background-color: #e0e0e2 !important;
}
.ant-layout .ant-layout-sider-trigger{
  color:#001529 !important;
  background-color: #e0e0e2 !important;
}
.ant-menu-item:hover, .ant-menu-submenu-title:hover {
  background-color: #aaabac !important;
}
.ant-layout .ant-layout-sider-children{
  background-color: #e0e0e2 !important;
  color:#001529 !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item{
  color:#001529 !important;
  background-color: #e0e0e2 !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title >.ant-menu-title-content {
  color:#001529 !important;

}
.ant-menu-inline.ant-menu-root .ant-menu-item:hover{
  color:#001529 !important;
  background-color: #b5b5b6 !important;
}


.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, .ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{
  color:#001529 !important;
  background-color: #e0e0e2 !important
}

.btn-search{
  /* border-radius: 1px; */
  padding: 8px 25px !important;
  background-color: var(--text-400);
  border: var(--text-400);
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20%; /* Adjust this width according to your design */
  background-color: #f8f9fa; /* Bootstrap's light background color */
  padding: 1rem;
  overflow-y: auto;
  /* padding-top: 8%; */
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.login-pill{
  /* border-radius: 30px; */
  padding: 35px 10px;
  display: inline-block;
  font-size: 0.875rem !important;
  width: 100%;
}
/* .auth-modal .modal-dialog .modal-content {
  border-radius: 30px;
  padding: 10px 15px !important;
} */
.login-input{
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 14px;
  border-color: #ced4da !important;
  box-shadow: unset !important;
}
.upload-license-image .ant-upload{
  width: 100%;
}
.upload-license-image .btn-primary{
  width: 100%;
  border-radius: 9px !important;
  font-size: 14px;
}
.default-select-box > div:first-child {
  border-radius: 8px !important;
}

.auth-modal .modal-dialog .modal-content {
  border-radius: 30px;
  padding: 10px 15px !important;
}
.delete-modal{
  height: 22vh; /* Adjust the height as needed */
  overflow-y: auto; /* Adds scrolling if content overflows */
}
.custom-modal-body1 {
  height: 48vh; /* Adjust the height as needed */
  overflow-y: auto; /* Adds scrolling if content overflows */
}
.custom-modal-body2 {
  height: 52vh; /* Adjust the height as needed */
  overflow-y: auto; /* Adds scrolling if content overflows */
}
.custom-modal-body3 {
  height: 54vh; /* Adjust the height as needed */
  overflow-y: auto; /* Adds scrolling if content overflows */
}
.login-pill{
  /* border-radius: 30px; */
  padding: 35px 10px;
  display: inline-block;
  font-size: 0.875rem !important;
  width: 100%;
}
/* .login-input{
  border-radius: 15px;
  padding: 8px 20px;
} */
.login-btn{
  width: 100%;
  border-radius: 15px;
}
.captcha-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.default-input-box {
  padding: 10px 15px;
  border-radius: 16px;
  font-size: 14px;
}
input.default-input-box.invalid,
.invalid-input div[class*="-control"],
.invalid-input input,
.invalid-input textarea {
  border-color: #cf3d6e !important;
}

input.default-input-box.invalid::placeholder,
.invalid-input .detail-info-text,
.invalid-input span,
.invalid-input div[class*="-placeholder"] {
  color: #cf3d6e !important;
}
.ci-div .react-code-input{
  direction: ltr !important;
  display: flex !important;
  justify-content: center;
}
.sidebar-cont{
  margin-top: 30%;
}
.ant-select-dropdown {
  z-index: 1050 !important;  /* Ensure dropdown options appear above other content */
}

.ant-select-selector {
  max-height: 40px;          /* Limit the height */
  overflow: hidden;
  white-space: nowrap;
}

.ant-select-selection-item {
  display: flex;
  align-items: center;
}

.fixed-sidebar li{
  text-decoration: none;
  list-style: none;
  color: var(--slate-600);
}
.main-content {
  margin-right: 20%; /* Same as the sidebar width */
  padding: 1rem;
}

.head-nav {
  align-items: center;
  background: #3a7cec;
  /* border-radius: 0 0 25px 25px; */
  /* box-shadow: 0 5px 10px #ccc; */
  display: flex;
  font-size: 0.8rem;
  height: 75px;
  justify-content: right;
  font-weight: 200;
}

.head-nav-responsive {
  align-items: center;
  background: #3a7cec;
  /* border-radius: 0 0 25px 25px; */
  /* box-shadow: 0 5px 10px #ccc; */
  /*display: flex;*/
  font-size: 0.8rem;
  /* height: 80px; */
  /*justify-content: right;*/
  padding: 4px;
  font-weight: 200;
}

.head-nav-imgs {
  display: flex;
  margin-right: 1.75rem;
  height: 75px;
  justify-content: right;
  align-items: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

/* .outer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #152128f0;
  height: 100vh;
  width: 100vw;
  color: rgb(191, 210, 210);
} */

.custom-slider {
  width: 70%; 
  margin: 0 auto;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.headerSearch{
    display: flex;
    width: 100%;
    max-width: 900px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: 2px solid #ebe9e9;
    border-radius: 1.5rem;
    padding: 1rem;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    position: relative; 
}
.headerSearchInput {
    padding: 0.7rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ebe9e9;
  }
.textField {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}
.headerIcon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}
.locationIcon , .dateIcon{
    color: var(--primary-600);
}
.headerSearchItem .seperator {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: var(--text-400);
    margin: 0 1rem;
}

.headerSearchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-600);
    color: #fff;
    padding: 0.6rem;
    border-radius: 1rem;
}
.guestOptions {
    background-color: #fff;
    box-shadow: 0 0 10px #efefef;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid var(--text-100);
    position: absolute;
    top: 2rem;
    width: 220px;
    z-index: 1000;
}
.guestOptionItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.guestOptionItem:not(:last-child) {
    margin-bottom: 1rem;
  }
.guestOptionItem span,
.guestOptionItem button {
    display: inline-block;
}
  
.optionText {
    display: inline-block;
    flex: 1;
    font-size: 0.9rem;
}
.optionCounter {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.guestOptionItem .optionCounterBtn {
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: var(--text-600);
    background-color: var(--text-100);
    border-radius: 50%;
}

.date {
    position: absolute;
    top: 50px;
    left: -5rem;
    z-index: 1002;
} 
.dateDropDown {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

/*  location list */
.nearbyLocation {
  max-width: 1280px;
  margin: 2rem auto;
}
.nearbyLocation h2 {
  margin-bottom: 1rem;
}
.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.locationItem img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.locationItem img:hover{
  opacity: 0.8;
}
.gray{
  background-color: lightgray;
}

.locationItemDesc > :not(:last-child) {
  margin-bottom: 0.2rem;
}

.locationItem .locationItemDesc .name {
  color: var(--text-400);
}
.locationItem .locationItemDesc .location {
  font-weight: 500;
}
.locationItem .locationItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.locationItem .locationItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}
.hotel-btn{
  margin-top: 1rem;
}
.hotel-btn button:hover{
  opacity: 0.8;
}
/* room detail */
.room {
  max-width: 1280px;
}
.room h2 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
.room > div {
  margin-bottom: 1rem;
}
.roomDescription{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.roomDescription img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
}
.roomFacilities{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #ebe9e9;
  border-radius: 0.8rem;
}
.logout{
  display: flex;
  justify-content: center;
}
.logout span{
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}
.description > div{
  margin: 0.5rem;
}
.facilities-item{
  background-color: var(--slate-200);
  padding: 0.5rem ;
  border-radius: 0.6rem;
}

/* map */

.mapContainer {
  flex: 1;
  background-color: var(--text-100);
  position: relative;
}
.mapContainer button.getLocation {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  /* background-color: var(--primary-600); */
  background-color: #ac2323;
  box-shadow: 0 0 10px var(--primary-600);
  color: #fff;
  z-index: 1000;
}
.map {
  height: 100%;
}

.searchList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchList .searchItem {
  display: flex;
  gap: 1rem;
}
.searchList .searchItem img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}
.searchItem .searchItemDesc p {
  margin-bottom: 0.3rem;
}
.searchItem .searchItemDesc .name {
  color: var(--text-400);
}
.searchItem .searchItemDesc .location {
  font-weight: 500;
}
.searchItem .searchItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.searchItem .searchItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

/* app layout */
.appLayout {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 130px);
  /* background-color: var(--text-100); */
  align-items: stretch;
}

.sidebar {
  width: 35%;
  overflow-y: scroll;
  padding-right: 1rem;
}

.searchItem.current-hotel {
  border: 3px solid var(--primary-700);
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 50%;
  }
}

/* bookmark page */
.bookmarkList {
  margin-top: 1rem;
}
.bookmarkItem {
  margin-bottom: 1rem;
  border: 1px solid var(--text-400);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarkList .bookmarkItem.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.currentBookmark h2 {
  margin: 1rem 0;
}

.bookmarkItem .trash {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}

/* form */

.form .formControl {
  margin-bottom: 1rem;
  position: relative;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}

.formControl input {
  border: 1px solid var(--text-400);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

 .btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: var(--primary-600);
  color: #fff;
}

.btn--back {
  border: 1px solid var(--text-400);
  margin-left: 1rem;
  
}

.formControl .flag {
  position: absolute;
  right: 1rem;
  top: 50%;
}
a.active {
  color: var(--primary-600);
  font-weight: 700;
}
.loginContainer {
  margin: 2rem auto;
  max-width: 25rem;
  border: 1px solid var(--text-300);
  padding: 1rem;
  border-radius: 1rem;
}
.loginContainer button {
  width: 100%;
}
.loginContainer h2 {
  margin-bottom: 1rem;
}
.icon.logout {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}
.icon{
  width: 1.5rem;
  color: var(--primary-700);
}
.header .heart {
  position: relative;
  color: var(--rose-500);
}
.header .heart .icon {
  width: 2rem;
  height: 2rem;
  color: var(--rose-500);
}
.header .heart .badge {
  background-color: var(--rose-500);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -6px;
  padding: 1px 4px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list__item {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 4rem 1fr 2rem;
  grid-template-rows: 1fr 1fr;
  background-color: var(--slate-800);
  border-radius: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.list__item:hover {
  background-color: var(--slate-700);
}

.list__item img {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.list__item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.box h2 {
  color: var(--slate-400);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.list__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.list__item .list-item__info {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
}

.list__item .icon {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
}

.icon.red {
  color: var(--rose-500);
}

.name,
.info {
  color: var(--slate-200);
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.badge {
  white-space: nowrap;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #22c55e;
 margin-bottom: 2rem;
}

.badge--secondary {
  background-color: var(--slate-600);
}

/* .modal {
  width: 198%;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--slate-900);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 50px var(--slate-600);
} */
/* 
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--slate-600);
} */

.icon {
  width: 1.6rem;
  height: 1.6rem;
}


.list__item {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 4rem 1fr 2rem;
  grid-template-rows: 1fr 1fr;
  background-color: var(--slate-800);
  border-radius: 1rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.list__item:hover {
  background-color: var(--slate-700);
}

.list__item img {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}
.list__item h3 {
  grid-column: 2/3;
  grid-row: 1/2;
}




/* Media query for screen sizes larger than the Bootstrap 'md' breakpoint */
@media (min-width: 768px) {
  .custom-size {
    width: 450px;
    height: 350px;
    margin-top: 0;
  }
  .muirtl-999rio-MuiDrawer-docked{
    width: 250px !important;
  }
}