@font-face {
	font-family: BNAZANIN;
	font-style: normal;
	font-weight: bold;
	src: url('/BNazanin/BNazanin.ttf');
	src: url('/BNazanin/BNazanin.ttf') format('embedded-opentype'),  /* IE6-8 */ 
}


@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('/iransans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

:root {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    --bg-color: #f3f4f6;
    --text-700: #374151;
    --text-400: #94a3b8;
    --text-500: #64748b;
    --text-100: #f1f5f9;
    --text-300: #d1d5db;
    --white: #fff;
    --primary-700: #4338ca;
    --primary-600: #4f46e5;
    --primary-100: #e0e7ff;
    --rose-500: #f43f5e;
    --slate-600: #475569;
    --slate-900: #0f172a;
    --slate-800: #1e293b;
    --slate-700: #334155;
    --slate-600: #475569;
    --slate-500: rgb(100, 116, 139);
    --slate-400: #94a3b8;
    --slate-300: #cbd5e1;
    --slate-200: #e2e8f0;
    --slate-100: #f1f5f9;
    --slate-50: #f8fafc;
    --rose-600: #e11d48;
   }
   #root{
    background-color: #fff !important;
    font-family: "IRANSans" !important;


   }
  body {
    min-height: 100vh;
    padding: 1rem;
    background-color: #fff !important;
    font-family: "IRANSans" !important;


  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    font-family: "IRANSans" !important;


  }
  
  button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  button:disabled {
    cursor: not-allowed;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  

  .error{
    color: red;
  }